:root{
    --light: #E7F6F2;
    --light-blue: #A5C9CA;
    --dark-blue: #395B64;
    --dark: #2C3333;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-list{
    display: flex;
    gap: 15px;
}

.sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px 15px;

    /* Flex */
    display: flex;
    flex-direction: column;
    color: var(--light);
    gap: 10px;
}

.sidebar-btn{
    width: 50%;
}

.main-content{
    padding-left: 200px;
}


.section{
    background-color: var(--light);
    padding: 20px 15px;
}

.section-line{
    width: 75%;
    margin-bottom: 10px;
}

.section-title{
    margin-bottom: 10px;
}

.section-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

